{% extends '@NegromovichAuthentication/admin/base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}
    <h1>Create user</h1>
    <p>Add user with roles and email. The user with this email will have roles after first sign in.</p>
    {{ form(form) }}
{% endblock %}
