<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    {% include '@NegromovichAuthentication/firebase-ui-styles.html.twig' %}
</head>
<body>
<h1 style="text-align: center">Sign in</h1>
<div id="firebaseui-auth-container"></div>
{% include '@NegromovichAuthentication/firebase-ui.html.twig' %}
</body>
</html>